# Migration for creating messages table with references to chats and tool_calls
class Create<%= options[:message_model_name].pluralize %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :<%= options[:message_model_name].tableize %> do |t|
      t.references :<%= options[:chat_model_name].tableize.singularize %>, null: false, foreign_key: true
      t.string :role
      t.text :content
      t.string :model_id
      t.integer :input_tokens
      t.integer :output_tokens
      t.references :<%= options[:tool_call_model_name].tableize.singularize %>
      t.timestamps
    end
  end
end
