<%#- # Migration for creating tool_calls table with database-specific JSON handling -%>
class Create<%= options[:tool_call_model_name].pluralize %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :<%= options[:tool_call_model_name].tableize %> do |t|
      t.references :<%= options[:message_model_name].tableize.singularize %>, null: false, foreign_key: true
      t.string :tool_call_id, null: false
      t.string :name, null: false
      t.<%= postgresql? ? 'jsonb' : 'json' %> :arguments, default: {}
      t.timestamps
    end

    add_index :<%= options[:tool_call_model_name].tableize %>, :tool_call_id
  end
end